<!DOCTYPE html>
<html>
  <body>
    <h1>To Do App</h1>
    <div>
      <form action="/todos" method="post">
        <div>
          <input type="text" name="toDo" />
        </div>
        <div><input type="submit" /></div>
      </form>
    </div>
    <div>
      <h2>Things that need doing</h2>
      <ul>
        {{range .}}
        <li style="list-style-type: none">
          <div
            style="display: flex; justify-content: space-between; width: 500px"
          >
            <span>{{.ID}}</span>
            <span>{{.Title}}</span>
            <span>{{if .Completed}} Done {{else}}Not Done{{end}}</span>
            <div>
              <button onclick="handleChangeStatus('{{.ID}}', {{.Completed}})">
                {{if .Completed}}Mark Incomplete{{else}}Mark Complete{{end}}
              </button>
            </div>
          </div>
        </li>
        {{end}}
      </ul>
    </div>

    <script>
      function handleChangeStatus(id, status) {
        fetch(`/todos/${id}/update`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ completed: !status }), // Example of updating the "completed" status
        }).then((response) => {
          if (response.ok) {
            window.location.reload();
          } else {
            alert("Error updating task status");
          }
        });
      }
    </script>
  </body>
</html>
